.product-card-category {
  text-transform: capitalize;
}

.edit-product {
  float: left;
}

.add-to-pantry {
  inset-inline: left;
}

.product-card-brand {
  color:purple;
}

.product-card-store {
  color:black;
}

.product-card-location {
  color:grey;
}
