<h2 mat-dialog-title>{{data.productName | titlecase}} from {{data.store | titlecase}} is already in your shopping list.</h2>

<mat-dialog-content>
  <h3>Go to your Shopping List?</h3>
</mat-dialog-content>

<mat-dialog-actions>
  <button [mat-dialog-close]="" mat-button type="button" color="primary" type="submit"
    routerLink="/shoppinglist"
    fragment="{{storeContentPos(data.store)}}"
    data-test="goToShoppingListButton">
    Go to Shopping List
  </button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>
