.add-product-fab {
  position: fixed;
  bottom: 15px;
  right: 30px;
}

.product-list-brand {
  text-transform: capitalize;
}

.product-list-name {
  text-transform: capitalize;
}

.product-list-category {
  text-transform: capitalize;
}

.product-list-store {
  text-transform: capitalize;
}
