<div>
  <mat-card class="shopping-list-interactive">
    <mat-tab-group animationDuration="400ms" [color]="'accent'" dynamicHeight [backgroundColor]="'primary'" class="store-tabs-group">
      <div *ngFor="let storeGroup of this.list">
        <mat-tab label="{{storeGroup.store}}">
          <mat-card class="shopping-list-items-card">
            <div fxLayout="row">
              <mat-list>
                <mat-list-item *ngFor="let slItem of storeGroup.products" checkboxPosition="before" class="shopping-list-item">
                  <div style="width: max-content; justify-content: space-between;">
                    <button mat-button color="warn">
                      <mat-icon>close</mat-icon>
                    </button>
                      x{{slItem.count}} {{slItem.productName}}, in {{slItem.location}}
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-card>
        </mat-tab>
      </div>
    </mat-tab-group>
  </mat-card>
</div>
