<div>
  <mat-card class="shopping-list-interactive">
    <mat-tab-group animationDuration="400ms" [color]="'accent'" dynamicHeight [backgroundColor]="'primary'" class="store-tabs-group">
      <div *ngFor="let storeGroup of this.list" class="">
        <mat-tab label="{{storeGroup.store}}" class="store-tab">
          <mat-card>
            <div>
              <mat-selection-list>
                <mat-list-option *ngFor="let slItem of storeGroup.products" checkboxPosition="before">
                    {{slItem.productName}},
                    {{slItem.location}},
                    {{slItem.count}}
                </mat-list-option>
              </mat-selection-list>
            </div>
          </mat-card>
        </mat-tab>
      </div>
    </mat-tab-group>
  </mat-card>
</div>
