<h1 mat-dialog-title>Delete Pantry Item?</h1>
<!-- Delete Pantry Item from Database Dialog Component -->
<mat-dialog-content>
<p>Remove <b><font size="3">{{data.productName | titlecase}}</font></b> from your products?</p>
<p style="color:crimson">
  <b>This action cannot be undone.</b></p>

</mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button color="warn" [mat-dialog-close]='data._id' data-test="dialogDelete">Delete</button>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
  </mat-dialog-actions>
