<div layout="column">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card>
      <h1 style="font-size: 40px;">My Shopping List</h1>
      <mat-button-toggle-group [(ngModel)]="viewType" name="pageView" aria-label="Page View">
        <mat-button-toggle value="interactive">
          Interactive View
        </mat-button-toggle>
        <mat-button-toggle value="print">
          Print View
        </mat-button-toggle>
      </mat-button-toggle-group>
      <button mat-button #tooltip="matTooltip"
              matTooltip="Print Shopping List"
              [matTooltipPosition]="'right'"
              aria-label="Button that prints the Shopping List"
              class="print-button"
              printSectionId="print"
              ngxPrint
              *ngIf="this.viewType === 'print'"
      >
        <mat-icon color="accent">print</mat-icon>
      </button>
    </mat-card>

    <div [ngSwitch]="viewType">
      <div *ngSwitchCase="'interactive'">
        <app-shoppinglist-group [list]="shoppingList"></app-shoppinglist-group>
        <div>
          <button mat-button>
            Remove Items From Shopping List
          </button>
        </div>
      </div>
      <div *ngSwitchCase="'print'">
        <app-shoppinglist-print [list]="shoppingList"></app-shoppinglist-print>
      </div>
    </div>

  </div>
</div>
